<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
		<clear/>
		<add name="ConnectionToDBHome" providerName="System.Data.SqlClient" connectionString="Server=(local);Database=MuzariumFull;"/>
		<add name="ConnectionToDBAcademic" providerName="System.Data.SqlClient" connectionString="Server=(local);Database=MuzariumFull;User Id=admin;Password=admin"/>
	</connectionStrings>
</configuration>